<html>
<head>
  <title>Underscore Bare</title>
  <style type="text/css">
    #templates { display: none; }
    #scores .score {
      background: #ddd;
      padding: 1px 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

<div id="scores">

</div>

<div id="templates">
  <script class="score" type="text/template">
    <div class="score">
      <p><%= name %> scored <%= score %> points.</p>
    </div>
  </script>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript">

  var scores = [
    { name: 'Burt', score: 30 }ß,
    { name: 'Oxle', score: 20 },
    { name: 'Snoopy', score: 10 }
  ];
    var scoreTemplateHtml = $('#templates .score').html();
    var scoreTemplate = _.template(scoreTemplateHtml);
    for (var i=0; i < scores.length ;i++) {
      var newScoreHtml = scoreTemplate(scores[i]);
      $('#scores').append(newScoreHtml);
    }

</script>

</body>
</html>
